.profile-container {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: fit-content;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    background: url("../../images/pfp.jpeg");
    background-size: 100%;
    border: 1px solid black;
}

.profile-details h1 {
    font-size: 24px;
    margin: 0;
}

.profile-details p {
    font-size: 16px;
    margin: 5px 0;
}

.commands {
    display: flex;
    justify-content:left;
    margin: 20px;
}

#edit{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

#return{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}